<footer class="container">
	<small><a href="http://cyrilis.com">Cyrilis.com</a>By Cyril</small>
	<nav>
		<ul>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
			<li><%= link_to "Cyrilis.com", "http://cyrilis.com" %></li>
		</ul>
	</nav>
</footer>